* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
}

body {
    
}

/*navigation section*/
#nav-bar {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px;
    background-color:#b75408 ;
    height: 75px;
}

.logo {
    position: relative;
    z-index: 1;
}

.logo img {
    width: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    padding-top: 10px;
    filter: drop-shadow(2px 0 0 white)         drop-shadow(0 2px 0 white)        drop-shadow(-2px 0 0 white)         drop-shadow(0 -2px 0 white);
    -webkit-filter: drop-shadow(2px 0 0 white)         drop-shadow(0 2px 0 white)        drop-shadow(-2px 0 0 white)         drop-shadow(0 -2px 0 white);
}

.nav-links {
    margin-right: -600px;
}

.icons {
    list-style: none;
    display: flex;
}

.icons a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #432818;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffe6a7;
    color:#b75408;
}

/*1st image with its overlay*/
.background img {
    width: 100%;
    height: 90vh;
    object-fit: cover; /* Crop the image to cover the container */
}

#welcome {
    position: relative;
    z-index: 1;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-top: -274px;
    padding-bottom: 10%;
}

#welcome > div>h1 {
    font-size: 300%;
}
#welcome > div>h4 {
    font-size: 100%;
    padding-left: 30px;
    padding-right: 40px;
}

.content h1 {
    font-family: "Great Vibes", cursive;
    font-size: 66px;
    color: #432818;
    margin-bottom: 20px;
}

.content h4 {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}




/*About Us*/
#AboutUs {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-about {
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: start;
    padding: 30px;

}

.message {
    max-width: 600px;
}

.message h2 {
    color: black;
    font-size: 28px;
    border-bottom: 2px solid#b75408;
    padding-bottom: 10px;
    
}

.message p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    padding-bottom: 30px;
}

.message button {
    display: block;
    margin:auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #432818;  
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message button:hover {
    background-color: black;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




/* Products */
/*Settings for the small line at the bottom*/
.product-header h2 {
    font-size: 27px;
    padding-bottom: 5px;
    color: black;
    position: relative;
}

.product-header h2::before{
content: "";
display:block;
width: 50px;
height: 3px;
background: black;
position: absolute;
bottom: -8px;
left: 41%;
}

.product-header h4 {
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: normal;
    color: #333;
}

#items {
    max-width: 1200px;
    margin: 0 auto;
}

#items ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    justify-content: center;
}

#items li {
    text-align: center;
}

#items img {
    width: 270px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.specialties{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;   
}

.specialties>li{
    padding: 5px;
    position: relative;
    display: inline-block;
}

.specialties>li>.buttons {
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0; /* Initially hide the button */
    transition: opacity 0.3s ease;
    z-index: 1;
}
.specialties>li:hover .buttons {
    opacity: 1; /* Show the button on hover */
}

.specialties>li:hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.864);
}


/*Gallery*/
/*Settings for the small line at the bottom*/
.gallery-header h2 {
    font-size: 28px;
    padding-bottom: 5px;
    color: black;
    position: relative;
}
.gallery-header h2::before{
    content: "";
    display:block;
    width: 50px;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -8px;
    left: 38%;
}

.gallery-header p{
    color: #333;
    padding-top: 20px;
    padding-bottom: 30px;
}

.gallery-pictures>li>div>a{
    font-size: 150%;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 40px;
}
.categories ul{
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.categories img {
    width: 400px;
    height: 350px;
    object-fit: cover;
}

.categories li {
    position: relative;
}

/*for overlay*/
.categories li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.categories li:hover::after {
    background-color: rgba(0, 0, 0, 0.733); 
}

/*for the overlay text*/
.categories a {
    position: absolute; 
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

.categories li:hover a {
    opacity: 1;
}


/*Footer*/
#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 60px;
    background-color: #b75408;
    color: rgb(255, 255, 255);
    gap: 40px;
    text-align: center;
}

#footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About, .Contact, .map iframe {
    width: 350px;
    height: 250px;
}

.About h5 {
    font-weight: normal;
    color: #333;
}

.About h3, .Contact h3, .map h3 {
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
}
.About h3::before, .Contact h3::before, .map h3::before {
    content: "";
    display:block;
    width: 55px;
    height: 3px;
    background: #432818;
    position: absolute;
    bottom: -8px;
    left: 42%;
}

.About p, .Contact p {
    margin: 5px 0;
    color: #ffffffa1;
}


.social {
    display: flex;
    align-items: center;
}



.social a {
    margin-top: 5px;
    text-decoration: none;
    color: #ffffffa1;
}

@media screen and (max-width: 90px) {
    
}